html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, ul, li, body, html {
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}