.about {
    margin-top: 20px;
    margin-right: 250px;
    .about__container{
        border: 2px solid #d6d6d6;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        .about__main-img {
            max-width: 935px;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .about__heading {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 28px;
            line-height: 32px;
            color: #2F3A4A;
        }
        .about__heading-text-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 23px;
            .about__heading-type {
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #2F3A4A;
                margin-right: 5px;
            }
            .dot {
                margin-bottom: 10px;
                margin-right: 5px;
            }
            
            .about__heading-name {
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #2F3A4A;
            }
        }
        
        
        .about__main-text {
            margin-bottom: 45px;
            max-width: 810px;
            width: 100%;
            margin-top: 21px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #25262D;
            
        }
        
        .about__file {
            padding: 8px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 200px;
            width: 100%;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #25262D;
            background: #FFFFFF;
            border-radius: 5px;
            border: 2px solid #d6d6d6;
            border-radius: 4px;
            margin-bottom: 47px;
            .file__img {
                margin-right: 8px;
            }
        }
    }
}



.about__list-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .about__item-wrapper {
        .about__inner-list {
            display: flex;
            margin: 0;
            padding: 0;
            .about__inner-item {
                margin-right: 50px;
                display: flex;
                align-items: center;
                max-width: 450px;
                width: 100%;
                .about__location {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    .location {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        margin-right: 15px;
                        border-radius: 50%;
                        background-color: #5885EA;
                        background-position: center;
                        .location__img {
                            padding: 12px;
                        }
                    }
                    .location__text {
                        font-family: 'Roboto';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #25262D;
                        max-width: 400px;
                        width: 100%;
                        overflow: hidden;
                        white-space: wrap;
                        text-overflow: ellipsis;
                    }
                }
                .about__tel {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .tel {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        margin-right: 15px;
                        border-radius: 50%;
                        background-color: #5885EA;
                        background-position: center;
                        .location__img {
                            padding: 12px;
                        }
                    }
                    .tel__text {
                        font-family: 'Roboto';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #25262D;
                        overflow: hidden;
                        white-space: wrap;
                        text-overflow: ellipsis;
                    }
                }
                .about__mail {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .mail {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        margin-right: 15px;
                        border-radius: 50%;
                        background-color: #5885EA;
                        background-position: center;
                        .location__img {
                            padding: 12px;
                        }
                    }
                    .mail__text {
                        font-family: 'Roboto';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #25262D;
                        overflow: hidden;
                        white-space: wrap;
                        text-overflow: ellipsis;
                    }
                }
                .about__web {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .web {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        margin-right: 15px;
                        border-radius: 50%;
                        background-color: #5885EA;
                        background-position: center;
                        .location__img {
                            padding: 12px;
                        }
                    }
                    
                    .web__text {
                        font-family: 'Roboto';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #25262D;
                        max-width: 400px;
                        width: 100%;
                        overflow: hidden;
                        white-space: wrap;
                        text-overflow: ellipsis;
                    }
                }
                .about__time {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .time {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        margin-right: 15px;
                        border-radius: 50%;
                        background-color: #5885EA;
                        background-position: center;
                        .location__img {
                            padding: 12px;
                        }
                    }
                    .time__text {
                        font-family: 'Roboto';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #25262D;
                        overflow: hidden;
                        white-space: wrap;
                        text-overflow: ellipsis;
                    }
                }
                .about__social {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .social {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        margin-right: 15px;
                        border-radius: 50%;
                        background-color: #5885EA;
                        background-position: center;
                        .location__img {
                            padding: 12px;
                        }
                    }
                    .social__text {
                        font-family: 'Roboto';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #25262D;
                        overflow: hidden;
                        white-space: wrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

.about__comment {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #d6d6d6;
    margin-bottom: 20px;
    max-width: 810px;
    width: 100%;
    .about__main-wrapper-comment {
        position: relative;
        max-width: 810px;
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        
        .about__comment-img {
            margin-left: 10px;
            width: 50px;
            height: 50px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            margin-right: 20px;
        }
        .about__comment-text {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-right: 10px;
            padding: 10px;
            background-color: #d0d0d0;
            margin-bottom: 5px;
        }
    }
}

.triangle-left {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #d0d0d0;
    border-bottom: 10px solid transparent;
    top: 0;
    right: calc(100% - 80px);
}

.edit-comment {
    align-items: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #25262D;
    display: inline-block;
}

.write__comment {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    resize: none;
    max-width: 800px;
    width: 100%;
    height: 100px;
    outline: none;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    margin-bottom: 10px;
}

.edit__img {
    vertical-align: middle;
}

.write-btn {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #25262D;
    background: none;
    border: 2px solid #d6d6d6;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
}



@media only screen and  (max-width: 350px) {
    .about {
        .about__container {
            padding: 10px;
            .about__heading {
                font-size: 16px;
            }
            
            .about__heading-type {
                font-size: 14px;
            }
            .about__file {
                padding: 5px 7px;
                font-size: 13px;
            }
            
            .about__main-text {
                font-size: 10px;
                line-height: 15px;
            }
        }
    }
    
    
    .about__comment {
        .about__comment-text{
            font-size: 10px;
            line-height: 15px;
        }
        
        .about__comment-img {
            width: 30px;
            height: 30px;
        }
    }
    
    .triangle-left {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 15px solid #d0d0d0;
        border-bottom: 10px solid transparent;
        top: 0;
        right: calc(100% - 80px);
    }
}

@media only screen and  (max-width: 800px) {
    .about__list-wrapper {
        display: unset;
        .about__location, .about__tel, .about__mail, .about__web, .about__time, .about__social {
            margin-bottom: 10px;
        }
        
        .about__item-wrapper {
            .about__inner-list {
                display: flex;
                flex-direction: column;
                .about__inner-item {
                    max-width: 400px;
                    width: 100%;
                    margin: 0;
                }
            }
        }
        
        
        
        
    }
}

@media only screen and  (max-width: 1000px) {
    .about {
        .about__container {
            .about__first {
                min-width: 300px;
                width: 100%;
                margin-top: 10px;
                display: unset;
                .about__location {
                    margin-bottom: 10px;
                }
                .about__web {
                    margin-bottom: 10px;
                }
            }
            .about__second {
                display: unset;
                width: 100%;
                .about__tel {
                    margin-bottom: 10px;
                }
                .about__time {
                    margin-bottom: 10px;
                }
            }
            .about__third {
                width: 100%;
                .about__mail {
                    margin-bottom: 10px;
                    width: 100%;
                }
                .about__social {
                    margin-bottom: 10px;
                }
                display: unset;
            }
        }
    }
}

@media only screen and  (max-width: 1275px) {
    .about {
        margin-right: 0;
    }
}